@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Stitchophile</h1>
    <h2>Cross Stitch and Embroidery Manager</h2>
</div>

<div class="row">
    <div class="col-md-4">
        <p>
            Cross Stitch and Embroidery Manager
        </p>
    </div>
</div>